# Enforce the exact environment defined in package.json
engine-strict=true

# High-precision dependency resolution
strict-peer-dependencies=true
auto-install-peers=true

# Global IDE awareness for Types and Linting
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
